body {
	font:12px/1.333em arial,helvetica,clean,sans-serif;
	/* for IE6/7 */ 
	*font-size:small; 
	/* for IE Quirks Mode */
	*font:x-small;
	
	color: #444;
	text-align: center;
}

h1,h2,h3,h4,h5,h6,p {margin:0;}
h1 {font-size:1.667em; margin-bottom:0.8em; line-height:0.8em;}
h2 {font-size:1.333em; margin-bottom:1em; line-height:1em;}
h3 {font-size:1.167em; margin-bottom:1.143em; line-height:1.143em;}
h4,p {font-size:1em; margin-bottom:1.333em; line-height:1.333em;}
h5 {font-size:0.833em; margin-bottom:1.6em; line-height:1.6em;}
h6 {font-size:0.667em; margin-bottom:2em; line-height:2em;}
ul, ol {margin-bottom:1.333em;}
li {line-height:1.333em; }

a {color:#0277ee; text-decoration:none;}
a:hover {color:#ec0a0a; text-decoration:underline;}

.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}
.top {vertical-align:top !important;}
.float-left {float:left;}
.float-right {float:right;}
.clear {
	clear: both; display: block; overflow: hidden; visibility: hidden;
	width: 0; height: 0;
}

ul.reseted, ol.reseted {margin:0; padding:0; list-style:none;}
ul.reseted li, ol.reseted li {margin:0; padding:0;}

table {width:100%;}
table.center {margin-left:auto; margin-right:auto;}

.pagination{clear:both; padding:20px 0 .833em; text-align: right; margin-bottom:.833em;}
.pagination a {
	background: #0277ee; padding: .333em .667em; color: #fff;
	margin: 0 1px; text-decoration:none;
}
.pagination a:visited {background: #551a8b;}
.pagination a:hover {background: #ec0a0a;}
.pagination strong {
	padding: .333em .667em; background: #999; color: #fff; margin: 0 1px;
}

.std-form input,
.std-form textarea,
.std-form select {
	border: 1px solid #c2c2c2; padding:.333em .416em;
}
.std-form input:focus,
.std-form textarea:focus,
.std-form select:focus {outline:0; border: 1px solid #bbdcef;}
.std-form fieldset {margin-bottom:15px; padding:8px 0 8px 0; border:none; border-top:2px solid #2c90c9;}
.std-form legend {font-size:13px; font-weight:bold; margin-bottom:8px; padding-right:5px;}
.std-form small {display:block; font-size:0.916em; color:#999;}
.std-form .span-required {
	color:#f00;
}

.button, a.button:visited {
	background: #2a2902; width:auto; font-weight:bold;
	padding:.333em .677em !important; border: 1px solid #2a2902 !important;
	text-decoration:none; color:#fff;
}
a.button:hover {text-decoration:none; color:#fff;}

.x-small-width {width:50px;}
.small-width {width:100px;}
.medium-width {width:300px;}
.large-width {width:400px;}
.x-large-width {width:600px;}
.small-height {height:70px;}
.medium-height {height:150px;}
.large-height {height:300px;}
.x-large-height {height:500px;}

.message {
	padding:.333em .667em; margin:.167em 0;
	-moz-border-radius: 3px; -khtml-border-radius: 3px;
	-webkit-border-radius: 3px; border-radius: 3px;
}
.message-error {
	border:1px solid #ffa414; color:#bf3102; padding-left:2em;
	background:url(../images/exclamation.png) .333em center no-repeat #fedac3;
}
.message-success {
	border:1px solid #86c446; color:#2b5401; padding-left:2em;
	background:url(../images/accept.png) .333em center no-repeat #ddf6c4;
}
.message-info {
	border:1px solid #6894C2; color:#00529B; padding-left:2em;
	background:url(../images/information.png) .333em center no-repeat #d5f0fd;
}

.std-box {border: 1px solid #CCCCCC;}
.header-title {
	height:28px; line-height:28px; overflow:hidden; font-size:13px;
	background: #CCCCCC; color:#000000; text-transform:uppercase;
	padding:0 7px; margin-bottom:7px; text-shadow: 1px 1px 1px #fff;
}
.std-box-inside {padding:0 7px 7px;}

.std-table {width: 100%;}
.std-table th{background: #979797;padding: 5px;border-bottom: 1px solid #fff;color: #fff; text-align:center;}
.std-table td{padding: 5px;border-bottom: 1px solid #c2c2c2;}
.std-table .even td{background: #ececec;}
.small-table td{font-size: 12px !important; padding: 3px 1px;}

.add-to-cart .text {
	-moz-border-radius: 3px; -khtml-border-radius: 3px;
	-webkit-border-radius: 3px; border-radius: 3px; 
	height:24px; padding:0 5px; line-height:24px; text-align:center;
}

.ajax-loader-cart {background:url(../images/ajax-loader.gif) no-repeat center center;}

.body {width:98%; text-align:left; margin:0 auto;}
.header {border-bottom:3px solid #000; margin-bottom:15px;}
.logo {width:375px; float:left; line-height:0;}
.horizontal-menu {width: 570px; float:right;text-align: right;}
.horizontal-menu-content {padding-top:20px;}
.horizontal-menu-content a {margin-left:10px; font-weight:bold;}

.header-tagline {clear:both; padding-top:5px;}
.header-tagline h1 {font-size:13px;}

.main {margin-bottom:15px;}
.main-content {padding:0 20px;}
.main-table td {vertical-align:top;}

.breadcumb {margin:0 0 10px 0 !important; padding:0 0 3px !important; border-bottom:1px dotted #c2c2c2;}

.product-item {
	margin:5px 2px 20px 2px; 
	text-align:center;
}

.product-item h4 {margin-bottom:3px; line-height:1em; color:#777;}
.product-item  p {margin-bottom:7px; font-size:13px; font-weight:bold;}
.product-item img{border: 1px solid #c2c2c2;}
.product-item img:hover{border: 1px solid #000000;}

.img {padding: 10px 0; height: 210px;}
.sold-out {
	margin: 0px; 
	padding: 0px; 
	background: transparent url(../images/sold-out.gif) no-repeat scroll 0% 0%; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; 
	width: 57px; 
	height: 57px;
	position: absolute;
	/*
	margin-left: 14px;
	*margin-left : -114px;*/
}
.product-detail {width:100%; border-collapse:collapse; margin-bottom:15px;}
.product-image-td {width:400px;}
.product-info-td {padding-left:15px;}
.description-image-box {overflow:hidden;}
.description-image{ border: 1px solid #c2c2c2; padding:20px 0;text-align: center;}
.description-info-box {}
.description-zoom-info {text-align:center; background:#c2c2c2; color:#fff; font-size:.916em; padding:0 5px;}
.description-thumbnail {margin-top:7px;}
.description-thumbnail-item {float:left; width:90px; border:1px solid #c2c2c2; margin:0 7px 7px 0; overflow:hidden;}
.description-thumbnail-item img {padding:5px;}
.description-thumbnail-item span {display:block;}
.description-spesification {padding-top:10px; margin-bottom:10px;}

.attr-add {
	float:left; display:block; margin:0 7px 7px 0; padding:3px 5px; 
	background:#dfdfdf; border:1px solid #c2c2c2; font-weight:bold; 
	color:#222; width:auto;
}
.attr-add:hover, .attr-active {background:#777; color:#fff; text-decoration:none;border:1px solid #444;}

.thumbup {background:url(../images/thumbUpIcon.jpg) no-repeat left center; line-height:19px; padding-left:19px; display:block; cursor:pointer;}

.sidebar-l {width:200px;}
.sidebar-r {width:200px;}
.sidebar-content {margin-bottom:10px;}
.sidebar-content ul {list-style:none; margin:0; padding:0;}
.sidebar-content li {font-weight:bold;}
.sidebar-content li a {padding:7px 0;}
.sidebar-content li ul {margin-bottom:7px;}
.sidebar-content li li {font-weight:normal; padding-left:10px;}

.cart-item-side {
	font-weight: normal !important; clear:left; line-height:20px; 
	height:20px; border-bottom:1px solid #c2c2c2; margin-bottom:7px;
}
.cart-item-side a {
	display:block; width:20px; height:20px; float:left; background:#f00;
	padding:0 !important; background:url(../images/cart-delete.gif) no-repeat center center;
}
#cart-total {padding-left:20px;}
.shopping-cart p {margin-bottom:7px; padding-top:10px;}

.news-item {margin-bottom:10px; border-bottom:1px dotted #c2c2c2;}
.news-item h3 {margin-bottom:0;}
.news-item-info {margin-bottom:7px; color:#777;}
.news-item-content p {margin-bottom:7px;}

.testimonial-main-item {border:1px solid #c2c2c2; margin-bottom:15px;}
.testimonial-main-item p {padding:0 10px;}
.testimonial-sender {margin-bottom:7px; background:#c2c2c2; padding:3px 10px !important;}

.contact-sb table {margin-bottom:1.333em;}
.contact-sb td {border-bottom:1px solid #c2c2c2; padding:5px 0; line-height:1em;}
.contact-sb p {margin-bottom:.833em;}

.search .text {width:180px; margin-bottom:7px;}

.product-random-item {
	width:80px; height:70px; padding:5px 0; margin:0 5px 7px; float:left; border: 1px solid #c2c2c2;
	text-align:center; overflow:hidden;
}

.footer {border-top:2px solid #c2c2c2; text-align:center; margin-bottom:15px;}
.horizontal-menu-bottom {padding:7px;}
.horizontal-menu-bottom a {margin:0 3px;}

/* update 29 Desember 2007*/
.form-message{margin: 10px 0;padding: 5px;}
.form-error, .form-error h3{background: #f80;color: #fff;}
.form-succes, .form-succes h3{background: #8CC91F;}
